<div class="fullscreen">
  <div class="right">
    <%= image_tag "logo.png", alt: "skanfare", width: "180px", height: "45px" %>
    <%= link_to deals_path, method: :get do %>
    <button class="button">See All Deals</button>
    <% end %>
  </div>
  <!--  <div class="container">

<div class="row">
    <div class="col-xs-6 col-xs-offset-1">

    </div>
  </div> -->
  <section style="position:relative">
    <div class="title" style="position:absolute">
      <h1>Skanfare</h1>
      <h5>surprise you with unexpected trip deals</h5>
    </div>
    <div class="siema">
      <div class="package">
        <div class="photo nopadding">
          <%= image_tag "honolulu_new.jpg", alt: "honolulu", width: "400px", height: "270px" %>
        </div>
        <div class="promotion purple">
          <div class="lefttext">
            <h3>01</h3>
            <h5>ranked deal</h5>
            <p>Feb 20th - Feb 25th</p>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Honululu</h3>
            <p>Honolulu, on the island of Oahu’s south shore, is capital of Hawaii and gateway to the U.S. island chain </p>
          </div>
          <div class="righttext">
            <h3>538 $</h3>
            <h4>-45% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
      <div class="package">
        <div class="photo nopadding">
          <%= image_tag "hongkong_new.jpg", alt: "hongkong", width: "400px", height: "270px" %>
        </div>
        <div class="promotion orange">
          <div class="lefttext">
            <h3>02</h3>
            <h5>ranked deal</h5>
            <p>Feb 20th - Feb 25th</p>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Hong Kong</h3>
            <p>It’s known for its diverse terrain of open spaces, mountains and forests, with abundant wildlife and many small towns. It’s a destination for outdoor activities like skiing.</p>
          </div>
          <div class="righttext">
            <h3>195 $</h3>
            <h4>-37% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
      <div class="package">
        <div class="photo nopadding">
          <%=image_tag "bangkok_new.jpg" , alt: "bangkok" , width: "400px" , height: "270px" %>
        </div>
        <div class="promotion pink">
          <div class="lefttext">
            <h3>03</h3>
            <h5>ranked deal</h5>
            <p>Feb 20th - Feb 25th</p>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Bangkok</h3>
            <p>It’s known for its diverse terrain of open spaces, mountains and forests, with abundant wildlife and many small towns. It’s a destination for outdoor activities like skiing, mountain biking and kayaking.</p>
          </div>
          <div class="righttext">
            <h3>159 $</h3>
            <h4>-32% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
      <div class="package">
        <div class="photo nopadding">
          <%=image_tag "taipei_new.jpg" , alt: "taipei" , width: "400px" , height: "270px" %>
        </div>
        <div class="promotion blue">
          <div class="lefttext">
            <h3>04</h3>
            <h5>ranked deal</h5>
            <p>Feb 20th - Feb 25th</p>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Taipei</h3>
            <p>The skyline is crowned by the 509m-tall, bamboo-shaped Taipei 101 skyscraper, with upscale shops at the base and a rapid elevator to an observatory near the top. </p>
          </div>
          <div class="righttext">
            <h3>228 $</h3>
            <h4>-25% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="prev">prev</button>
    <button class="next">next</button> -->
  </section>
