<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% @quotes.each_with_index do |quote, index| %>
<%= index + 1 %>
<ul>
  <li>
    <%= quote.depart_date %>
  </li>
  <li>
    <%= quote.origin %>
  </li>
  <li>
    <%= quote.destination %>
  </li>
  <li>
    <%= quote.min_price %>
  </li>
  <li>
    <%= quote.direct %>
  </li>
  <li>
    <%= quote.unique_flight %>
  </li>
</ul>
<% end %>
