<div class="black"></div>

<div class="fullscreen" data-photos='["<%= image_url 'background1.jpg' %>", "<%= image_url 'background2.png' %>", "<%= image_url 'background3.jpg' %>"]'> </div>

<div class="fullscreen-content">

  <div class="header">
    <div class="right">
      <%= image_tag "logo.png", alt: "skanfare", width: "180px", height: "45px" %>
    </div>
    <div class="left">
      <p><span class="fas fa-map-marker-alt" style="padding-right: 15px"></span>Current Location: Tokyo</p>
    </div>
  </div>

  <section style="position:relative">
    <div class="title" style="position:absolute">
      <h1>Skanfare</h1>
      <h5> Best Destinations, Best Dates To Go</h5>
      <!-- <h5>Good deals come and go, Skanfare will let you know</h5> -->
      <%= link_to deals_path, method: :get do %>
      <button class="button">Browse Deals</button>
      <% end %>
    </div>

 <!--        <div class="promotion orange">
          <div class="lefttext">
            <h4>Feb 20th</h4>
            <h4> - </h4>
            <h4>Feb 25th</h4>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Hong Kong</h3>
            <p>It’s known for its diverse terrain of open spaces, mountains and forests, with abundant wildlife and many small towns. </p>
          </div>
          <div class="righttext">
            <h3>195 $</h3>
            <h4>-37% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
      <div class="package">

        <div class="promotion pink">
          <div class="lefttext">
            <h4>Feb 20th</h4>
            <h4> - <h4>
            <h4>Feb 25th</h4>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Bangkok</h3>
            <p>It’s known for its diverse terrain of open spaces, mountains and forests, with abundant wildlife and many small towns.</p>
          </div>
          <div class="righttext">
            <h3>159 $</h3>
            <h4>-32% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
      <div class="package">

        <div class="promotion blue">
          <div class="lefttext">
            <h4>Feb 20th</h4>
            <h4> - </h4>
            <h4>Feb 25th</h4>
            <p>2019</p>
          </div>
          <div class="middletext">
            <h3>Tokyo - Taipei</h3>
            <p>The skyline is crowned by the 509m-tall, bamboo-shaped Taipei 101 skyscraper. </p>
          </div>
          <div class="righttext">
            <h3>228 $</h3>
            <h4>-25% off</h4>
            <button class="detail">details</button>
          </div>
        </div>
      </div>
    </div>
  <!--.slider-prev-next-control -->
    <!-- <div class="slider-prev-next-control">
      <button class="prev"></button>
      <button class="next"></button>
    </div> -->

  </section>

 </div>
