<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
<div style="height: 70px">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <p class="user-email">
          Your Email: <%= @user.email  %>
        </p>
      <div class="row">
        <% if @user.preferences%>
        <% @user.preferences.each do |preference| %>
        <div class="col-sm-12">
          <div class="preference-card">
            <div class="preference-card-title">&nbsp;</div>
            <div class="preference-card-content">
              <ul class="preference-list">
                <li> trip to Tokyo </li>
                <li>
                 weekday: <%= preference.weekday %>
                </li>
                <li>
                  trip duration: <%= preference.duration %> days</li>
                <li>
                  destination city: <%= preference.city.name  %>
                </li>
                <li>
                  alert me with a discount of: <span class="underline"></span> <%= preference.discount  %>
                </li>
              </ul>
              <div>
                <button class="delete-button">delete</button>
              </div>
            </div>
          </div>
        </div>

        <% end %>
        <% end %>
      </div>

<!--         start of preference form -->
        <div class="form-container">
          <%= simple_form_for @preference do |f| %>
          <%= f.input :weekday, collection: [["Monday", 1],["Tuesday", 2],["Wednesday", 3],["Thursday", 4],["Friday", 5],["Saturday", 6],["Sunday", 0]], required: false %>
          <%= f.input :duration, collection: (1..20), required: false %>
          <%= f.association :city, required: false %>
          <%= f.button :submit %>
          <% end %>
        </div>
<!--         end of preference form -->
    </div>
  </div>
</div>
