<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
  <div style="height: 70px">
  </div>
  <div class="banner-preference" style="background-image: url( <%= asset_path((" cityscape.png").strip) %>);">
    <h1>Manage Alerts</h1>
  </div>

  <div class="container">

    <div class="row">


      <% if @user.preferences%>

      <% @user.preferences.each do |preference| %>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="preference-card">
            <div class="preference-card-content">
              <div class="preference-labels">
                <div>
                 Departing Day
                </div>
                <div>
                Trip Length
                </div>
                <div>
                  Destination
                </div>
                <div>
                  Notify with Discount Greater than
                </div>
              </div>
              <div class="preference-right">
                <div class="preference-values">
                  <div>
                    <%= Deal.dow_int(preference.weekday) %>
                  </div>
                  <div>
                    <%= preference.duration == 0 ? "Any length" : "#{preference.duration} days" %>
                  </div>
                  <div>
                    <%= preference.city.name %>
                  </div>
                  <div>
                    <%= preference.discount %>%
                  </div>
                </div>
                <div>
                  <%= link_to preference_path(preference), method: "delete" do%>
                  <button class="delete-button">Delete</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
