<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
<div style="height: 70px">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="profile-container">
        <p>
          <%= @user.email  %>
        </p>
        <% if @user.preferences%>
        <% @user.preferences.each do |preference| %>
        <div class="preference">
          <ul>
            <li>
              <%= preference.weekday %>
            </li>
            <li>
              <%= preference.duration %> days</li>
            <li>
              <%= preference.city.name  %>
            </li>
            <li>
              <%= preference.discount  %>
            </li>
            <li><%= link_to "Delete", preference_path(preference), method: "delete" %></li>
            <hr>
          </ul>
        </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>
