<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
<div style="height: 70px">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="profile-container">
        <p>
          <%= @user.email  %>
        </p>
        <% if @user.preferences%>
        <% @user.preferences.each do |preference| %>
        <div class="preference">
          <ul>
            <li>
              <%= preference.weekday %>
            </li>
            <li>
              <%= preference.duration %> days</li>
            <li>
              <%= preference.city.name  %>
            </li>
            <li>
              <%= preference.discount  %>
            </li>
            <hr>
          </ul>
        </div>
        <% end %>
        <% end %>
        <div class="form-container">
          <%= simple_form_for @preference do |f| %>
          <%= f.input :weekday, collection: [["Monday", 1],["Tuesday", 2],["Wednesday", 3],["Thursday", 4],["Friday", 5],["Saturday", 6],["Sunday", 0]], required: false %>
          <%= f.input :duration, collection: (1..20), required: false %>
          <%= f.association :city, required: false %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
