
<div class="contain">
  <div class="carousel-row">
    <div class="row__inner">
      <% @best_city_deals_list.each do |deal| %>
      <!-- New -->
      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="<%= asset_path((" #{Deal.city(deal[0])}.jpg").strip) %>" />< </div> <%=link_to "" , deals_path(name: deal[0], duration: params[:duration], depart_dow: params[:depart_dow] ) , class: 'card-link'%>
            <!-- this is the cheapest price placeholder displayed on card! -->
            <div class="tile_cheapest_price">
              <p class="tile-card-price">
                ~ ¥
                <%= number_with_delimiter(deal[1], delimiter: ",") %>
              </p>
              <h5 align="right">
              round trip
              </h5>
            </div>
            <!-- end -->
            <div class="tile__details <%= 'active_tile' if Deal.city(deal[0]) == @city %>">
              <div class="tile__title">
                <%= Deal.city(deal[0]).gsub('_new','').capitalize %>
              </div>
            </div>
        </div>
        <% end %>

        <div class="tile">
          <div class="tile__media">
            <div class="tile_cheapest_price">
              <p class="tile-card-price">~ ¥ 22,430</p>
              <h5>round trip</h5>
            </div>
            <img class="tile__img" src="<%= asset_path((" hanoi_new.jpg").strip) %>" />
          </div>
            <div class="tile__details">
              <div class="tile__title">
                Hanoi
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="tile__media">
              <div class="tile_cheapest_price">
                <p class="tile-card-price">~ ¥ 25,100</p>
                <h5>round trip</h5>
              </div>
              <img class="tile__img" src="<%= asset_path((" siem_rep_new.jpg").strip) %>" />
          </div>
              <div class="tile__details">
                <div class="tile__title">
                  Siem Reap
                </div>
              </div>
            </div>
            <div class="tile">
              <div class="tile__media">
                <div class="tile_cheapest_price">
                  <p class="tile-card-price">~ ¥ ¥30,720</p>
                  <h5>round trip</h5>
                </div>
                <img class="tile__img" src="<%= asset_path((" singapore_new.jpg").strip) %>" />
          </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Singapore
                  </div>
                </div>
              </div>
              <div class="tile">
                <div class="tile__media">
                  <div class="tile_cheapest_price">
                    <p class="tile-card-price">~ ¥ 98,350</p>
                    <h5>round trip</h5>
                  </div>
                  <img class="tile__img" src="<%= asset_path((" sanfrancisco_new.jpg").strip) %>" />
          </div>
                  <div class="tile__details">
                    <div class="tile__title">
                      San Francisco
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
