<div class="menu">

  <div class="dropdown">

    <p class="menu-button" data-toggle="dropdown"> Duration</p>
    <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
      <%13.times do |i|%>
      <li>
        <%= link_to "#{i+2} days", deals_path(duration: "#{i+2}") %>
      </li>
      <%end%>
    </ul>
  </div>
  <div class="dropdown">
    <p class="menu-button" data-toggle="dropdown"> Days</p>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li>
        <%= link_to "Wed", deals_path(weekday: '3') %>
      </li>
      <li>
        <%= link_to "Fri", deals_path(weekday: '5') %>
      </li>
      <li>
        <%= link_to "Sat", deals_path(weekday: '6') %>
      </li>
      <li>
        <%= link_to "Sun", deals_path(weekday: '7') %>
      </li>
  </div>
</div>
<div>
<%= form_tag(deals_path, method: :get) do %>
  <%= number_field_tag :duration, params[:duration], placeholder: "Duration",  within: 1..20 %>

  <%= text_field_tag :depart_dow, params[:depart_dow], placeholder: "Departure Day "%>

  <%= submit_tag "Submit" %>
  <% end %>

  <% @best_city_deals_list.each do |deal| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= asset_path((" #{Deal.city(deal[0])}.jpg").strip) %>;">
    <div class="card-description">
      <h2><%= Deal.city(deal[0]).gsub('_new','').capitalize %></h2>
      <!-- <h2><%= deal[1] %></h2> -->
    </div>
    <%= link_to "", deals_path(name: deal[0]) , class: 'card-link' %>
  </div>
  <% end %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path((" hanoi_new.jpg").strip) %>;">
    <div class="card-description">
      <h2>Hanoi</h2>
    </div>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path((" siem_rep_new.jpg").strip) %>;">
    <div class="card-description">
      <h2>Siem Reap</h2>
    </div>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path((" singapore_new.jpg").strip) %>;">
    <div class="card-description">
      <h2>Singapore</h2>
    </div>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path((" sanfrancisco_new.jpg").strip) %>;">
    <div class="card-description">
      <h2>San Francisco</h2>
    </div>
  </div>
</div>
