<!-- <div class="card-deal" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');"> -->
<% n = 0 %>
<% @topdeals.each do |deal| %>
<div class="half-card <%= 'selected_deal' if n == 0 %>" style="margin-bottom: 5px;" id="<%=deal.id %>">
  <% n+=1 %>
  <div class="card-deal" >
    <p id="initial-price">
      <%="¥#{number_with_delimiter(deal.price - deal.discount_abs, delimiter: ",")}" %>
    </p>
    <p id="new-price">
      <%="¥#{number_with_delimiter(deal.price, delimiter: ",")}" %>
    </p>
    <p id="discount_2">
      <%= "#{deal.discount_perc}%" %> from usual
    </p>
    <!-- commented out -->
    <div class="card-deal-description">
      <h3><%= "#{deal.depart_date.strftime('%d %b %Y')} - #{deal.return_date.strftime('%d %b %Y')}"%></h3>
    </div>
    <div class="week_day">
      <h3><%= "#{(deal.return_date-deal.depart_date).to_i} days, #{deal.depart_date.strftime('%a')} - #{deal.return_date.strftime('%a')}"%></h3>
    </div>
    <%= link_to "", chart_path(deal), class: 'card-link', remote: true  %>
  </div>
  <div class="card-deal-right">
    <div class="card-deal-description-right">
      <%= link_to deal_path(id:deal), class: "book-button", target: :_blank do %>
      <div>Select</div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<!-- => #<Deal id: 6965, depart_date: "2019-01-07", return_date: "2019-01-20", origin: "TYOA-sky", destination: "SELA-sky", price: 1543, created_at: "2018-11-21 10:59:39", updated_at: "2018-11-22 01:37:41", unique_deal: "2019-01-07-2019-01-20-TYOA-sky-SELA-sky", discount_abs: -896, discount_perc: -37, wday_duration: "1-13" -->
