<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/deals" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "170px", height: "45px" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div>
      <h4 id="destination" style="border: 1px solid #1A6FA8;"><span class="fas fa-map-marker-alt" style="padding-right: 15px"></span>Flights from Tokyo </h4>
    </div>
    <%= link_to "Manage Alerts", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Profile picture with dropdown list -->
    <!-- duration and days filter end-->
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li>
        <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      </li>
    </ul>
  </div>
</div>
</div>
<!-- Dropdown appearing on mobile only -->
<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="#">Manage Alerts</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>
</div>
<!-- <end of nav bar> -->
<!-- carousel -->
<%= render "deals/cities" %>
<!-- deal cards and graph -->
<div class="container" style="width: 80vw; margin-top: 10px;">
  <div class="deals-bottom-container">
    <div class="row" style="display: flex;">
      <div class="col-sm-7 nopadding">
        <div class="preference-filter" style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: baseline;">
          <div style="padding-left: 10px;">
            <h4 style="margin-bottom: 0px; margin-top: 7px; font-size: 28px"><%= "Cheapest Trips to #{@topdeals.first.city.name}" %>
            </h4>
          </div>
          <div class="preference-right">
            <% day_array =[] %>
            <% 21.times do |i|%>
            <% day_array << [pluralize(i, 'day'),i] %>
            <% day_array[0] =  ['Duration',nil] %>
            <% end %>

            <%= form_tag(deals_path, method: :get, class: 'deals-filter') do %>
              <%= hidden_field_tag :name, @destination %>
              <%= select_tag :duration, options_for_select(day_array,[params[:duration],'']), :onchange => "this.form.submit()" %>
              <% if params[:depart_dow].nil? %>
                <% ar = ['Day of Week',9] %>
              <% else %>
                <% ar = [Deal.dow_int(params[:depart_dow].to_i),params[:depart_dow].to_i] %>
              <% end %>
              <%= select_tag :depart_dow, options_for_select([['Departing on',9],['Mon',1],['Tue',2],["Wed",3],["Thu",4],["Fri",5],["Sat",6],["Sun",0]],ar), :onchange => "this.form.submit()" %>
            <% end %>
            <!-- Button trigger modal -->
            <button type="button" class="get-alert" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-bell"></i> Get Price Alerts</button>
            <!-- Modal -->

          </div>
        </div>
        <div class="" ids="flight-table">
          <%= render "deals/deals" %>
        </div>
      </div>
      <div class="col-sm-5 nopadding" style="display: flex; flex-direction: column">
        <div class="picture-table">
          <%= render "deals/picture" %>
        </div>
      </div>
    </div>
  </div>
  <div class="emptyfooter">
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "deals/preferences_modal" %>
</div>

<script>
  var chart = Chartkick.charts["chart-1"];
  chart.updateData(<%= raw @data %>);

</script>
