<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
<!-- carousel -->
<%= render "deals/cities" %>
<!-- deal cards and graph -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="on-top-of-deals-list">
        <div class="cheapest-trip">
            Cheapest Trips to <span style="color: #0062AC"><%= @topdeals.first.city.name %></span>
          </div>
        <div class="preference-filter">
            <% day_array =[] %>
            <% 21.times do |i|%>
            <% day_array << [pluralize(i, 'day'),i] %>
            <% day_array[0] =  ['All',nil] %>
            <% end %>

            <%= form_tag(deals_path, method: :get, class: 'deals-filter') do %>
            <%= hidden_field_tag :name, @destination %>

            <div class="filter-label">
              <div style="align-self: center">Trip length</div>
            </div>
            <div>
              <%= select_tag :duration, options_for_select(day_array,[params[:duration],'']), :onchange => "this.form.submit()" %>
            </div>
            <% if params[:depart_dow].nil? %>
              <% ar = ['Any day',9] %>
            <% else %>
              <% ar = [Deal.dow_int(params[:depart_dow].to_i),params[:depart_dow].to_i] %>
            <% end %>
            <div class="filter-label">
              <div style="align-self: center">Departing day</div>
            </div>
            <div>
              <%= select_tag :depart_dow, options_for_select([['All',9],['Mon',1],['Tue',2],["Wed",3],["Thu",4],["Fri",5],["Sat",6],["Sun",0]],ar), :onchange => "this.form.submit()" %>
            </div>
          <% end %>
          <!-- Button trigger modal -->
          <button type="button" class="get-alert" data-toggle="modal" data-target="#myModal">
          <i class="fas fa-bell"></i> Get Price Alerts</button>
          <!-- Modal -->
        </div>
        </div>
        <div class="" ids="flight-table">
          <%= render "deals/deals" %>
        </div>
      </div>
    </div>
  </div>
  <div class="emptyfooter">
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "deals/preferences_modal" %>
</div>

<script>
  var chart = Chartkick.charts["chart-1"];
  chart.updateData(<%= raw @data %>);

</script>

<%= javascript_pack_tag 'create_alert' %>
