<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/deals" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "210px", height: "45px" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Profile", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
      <!-- duration and days filter start-->
      <div class="menu">
        <div class="dropdown">
          <p class="menu-button" data-toggle="dropdown"> Duration</p>
          <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
            <%13.times do |i|%>
            <li>
              <%= link_to "#{i+2} days", deals_path(duration: "#{i+2}") %>
            </li>
            <%end%>
          </ul>
        </div>
        <div class="dropdown">
          <p class="menu-button" data-toggle="dropdown"> Days</p>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Wed", deals_path(weekday: '3') %>
            </li>
            <li>
              <%= link_to "Fri", deals_path(weekday: '5') %>
            </li>
            <li>
              <%= link_to "Sat", deals_path(weekday: '6') %>
            </li>
            <li>
              <%= link_to "Sun", deals_path(weekday: '7') %>
            </li>
        </div>
      </div>
      <!-- duration and days filter end-->
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <end of nav bar> -->


<!-- carousel -->
<%= render "deals/cities" %>


<!-- deal cards and graph -->
  <div class="container" style="width: 100vw;">

      <div class="preference-filter">
      <%= form_tag(deals_path, method: :get) do %>

      <%= number_field_tag :duration, params[:duration], placeholder: "Duration",  within: 1..20 %>
      <%= text_field_tag :depart_dow, params[:depart_dow], placeholder: "Departure Day "%>
      <%= submit_tag "Submit" %>
      <% end %>

    </div>
    <div class="row">
      <div class="col-sm-7 nopadding">
        <div class="scrolling-third" ids="flight-table">
          <%= render "deals/deals" %>
        </div>
      </div>
      <div class="col-sm-5 nopadding">
        <div class="picture-table">
          <%= render "deals/picture" %>
        </div>
      </div>
    </div>
    <div class="emptyfooter">
    </div>
  </div>

