<!-- <nav bar> -->
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/deals" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "210px", height: "45px" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Deals</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Setting</a>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Past Booking</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- banner -->
<div class="banner" style="background-image: url( <%= asset_path((" #{Deal.city(@deal.destination)}.jpg").strip) %>);">
  <div class="banner-content">
    <h3>
      <%= Deal.humanize_city(@deal.origin).upcase %> TO
    </h3>
    <h1><%= Deal.humanize_city(@deal.destination).upcase %></h1>
  </div>
</div>
<!-- end of banner -->
<!-- <end of nav bar> -->
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      x
      <%= link_to "Refresh", deal_path(@deal, key: @key), remote: true %>
      <div id="ticket-container">
        <%= render "deals/ticket-container" %>
      </div>
    </div>
  </div>
</div>
