<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/deals" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "210px", height: "45px" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Profile", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <end of nav bar> -->
<!-- banner -->
<div class="banner" style="background-image: url( <%= asset_path((" #{Deal.city(@deal.destination)}.jpg").strip) %>);">
  <div class="banner-content">
    <h3>
      <%= City.find_by(code: @deal.origin).name %> to
    </h3>
    <h1><%= @deal.city.name.upcase %></h1>
  </div>
</div>
<!-- end of banner -->
<div class="wide-container">
  <div class="row">
    <div class="col-sm-8">
      <%= render "deals/ticket-container" %>
      <div id="loading-box">
        <%= render "deals/loading" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="itinerary">
        <div class="origin-destination">
          <div class="city-name">
            <%= City.find_by(code: @deal.origin).name %>
          </div>
          <div>
            <%= @deal.depart_date.strftime("%a %e %b %y") %>
          </div>
        </div>
        <p class="duration">
          <%= "#{@deal.duration} days"%>
        </p>
        <div class="origin-destination">
          <div class="city-name">
            <%= @deal.city.name %>
          </div>
          <div>
            <%= @deal.return_date.strftime("%a %e %b %y") %>
          </div>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph">
          <%= area_chart @deal.get_historical %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'loading' %>
<script>
console.log('calling api again');

document.addEventListener('DOMContentLoaded', () => {
  let button = document.getElementById('refresh-button');
  button.click();
});

</script>
