<%= render "shared/navbar" %>
<!-- <end of nav bar> -->
<!-- banner -->
<div class="banner" style="background-image: url( <%= asset_path((" #{Deal.city(@deal.destination)}.jpg").strip) %>);">
  <div class="banner-content">
    <h3>
      <%= City.find_by(code: @deal.origin).name %> to
    </h3>
    <h1><%= @deal.city.name.upcase %></h1>
  </div>
</div>
<!-- end of banner -->
<div class="wide-container">
  <div class="row">
    <div class="col-sm-8">
      <div style="display: flex">
      <div class="ripple"></div>


      <div class="elementToAnimate">Loading Flights</div>
      </div>
      <div>
        <%= render "deals/ticket-container" %>
        <div class="placeholder-flight-box">
          <div id="loading-box">


            <!--  -->
            <div class="plane-ticket-fake">
            <div class="line-fake-2"></div>
            </div>

            <div class="plane-ticket-fake">
            <div class="line-fake-2"></div>
            </div>

            <div class="plane-ticket-fake">
            <div class="line-fake-2"></div>
            </div>
            <!--  -->
            <%= render "deals/loading" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="itinerary">
        <div class="origin-destination">
          <div class="city-name">
            <%= City.find_by(code: @deal.origin).name %>
          </div>
          <div>
            <%= @deal.depart_date.strftime("%a %e %b %y") %>
          </div>
        </div>
        <p class="duration">
          <%= "#{@deal.duration} days"%>
        </p>
        <div class="origin-destination">
          <div class="city-name">
            <%= @deal.city.name %>
          </div>
          <div>
            <%= @deal.return_date.strftime("%a %e %b %y") %>
          </div>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph">
         <%= area_chart [data: @deal.get_historical],legend: false, thousands: ",", points: false, min: (@@hmin.min.to_f/5000.0).floor*5000, max: (@@hmax.max.to_f/5000.0).ceil*5000   %>

        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'loading' %>
<script>
console.log('calling api first time');

document.addEventListener('DOMContentLoaded', () => {
  let button = document.getElementById('refresh-button');
  button.click();
});

</script>
