<!-- <nav bar> -->

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "210px", height: "45px" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Deals</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Setting</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Past Booking</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <end of nav bar> -->

<div class="deal-body">
  <div class="container">
    <div class="left-half">
      <%= link_to "Refresh", deal_path(@deal, key: @key) %>
          <% @itineraries.each do |itinerary| %>
          <!-- <div style="border: 1px solid rgba(0,0,0,0.5); padding: 30px, border-radius: 10px;"> -->
            <div class="plane-ticket">
              <div class="carrier">
                Outbound carrier:
                <br />
                <% out_carrier_id = @legs.find { |leg| leg["Id"] == itinerary["OutboundLegId"] }["Carriers"][0]%>
                <%= @carriers.find { |carrier| carrier["Id"] == out_carrier_id }["Name"]%>
                <br />
                Inbound carrier:
                <br />
                <% in_carrier_id = @legs.find { |leg| leg["Id"] == itinerary["InboundLegId"] }["Carriers"][0]%>
                <%= @carriers.find { |carrier| carrier["Id"] == in_carrier_id }["Name"]%>
              </div>

              <div class="destination-time">
                <!-- Outbound departure: -->
                <b><%= @legs.find { |leg| leg["Id"] == itinerary["OutboundLegId"] }["Departure"]%> --
                <!--  Inbound departure: -->
                    <%= @legs.find { |leg| leg["Id"] == itinerary["InboundLegId"] }["Departure"] %></b>
 <!--                <%= @deal.depart_date %> - <%= @deal.return_date %> -->
              </div>

              <div class="line"></div>

              <div class="price">
                <% itinerary["PricingOptions"].first(3).each do |price| %>
                    <h4><%= price["Price"] %></h4>
                    <br />
                    <%= @agents.find { |agent| agent["Id"] == price["Agents"][0] }["Name"] %>
                    <br />
                    <a class="button" href="<%= price["DeeplinkUrl"] %>" target="_blank">Buy Now</a>
                <% end %>
              </div>
          </div>
      <% end %>
    </div>

    <div class="right-half"></div>
  </div>
</div>





