<!-- <nav bar> -->
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo2.png", alt: "skanfare", width: "210px", height: "45px" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Deals</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Setting</a>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Past Booking</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- banner -->
<div class="banner" style="background-image: url( <%= asset_path((" #{Deal.city(@deal.destination)}.jpg").strip) %>);">
  <div class="banner-content">
    <h1><%= Deal.humanize_city(@deal.destination).upcase %></h1>
  </div>
</div>
<!-- end of banner -->
<!-- <end of nav bar> -->
<div class="deal-body">
  <div class="container">
    <div class="left-half">
      <div class="plane-ticket">
        <div class="carrier">
        </div>
        <div class="destination-time">
          <%= @deal.origin %> --
          <%= @deal.destination %>
          <%= @deal.depart_date %> --
          <%= @deal.return_date %>
        </div>
        <div class="price">
          JPY
          <%= @deal.price %>
          JPY
          <%= @deal.discount_abs %>
          <%= @deal.discount_perc %>%
        </div>
        <div class="line"></div>
      </div>
      <div class="plane-ticket">
        <li>
          HKD
          <%= @deal.price %>
        </li>
        <li>
          <%= @deal.origin %>
        </li>
        <li>
          <%= @deal.destination %>
        </li>
        <li>
          <%= @deal.depart_date %>
        </li>
        <li>
          <%= @deal.return_date %>
        </li>
        <li>
          HKD
          <%= @deal.discount_abs %>
        </li>
        <li>
          <%= @deal.discount_perc %>%
        </li>
        <li>
          <%= @deal.id %>
        </li>
        <div class="line"></div>
      </div>
    </div>
    <div class="right-half"></div>
  </div>
</div>
<%= link_to "Refresh", deal_path(@deal, key: @key) %>
<% @itineraries.each do |itinerary| %>
<div style="border: 1px solid rgba(0,0,0,0.5); padding: 30px, border-radius: 10px;">
  <ul>
    <li>
      Outbound departure:
      <%= @legs.find { |leg| leg["Id"] == itinerary["OutboundLegId"] }["Departure"]%>
    </li>
    <li>
      Outbound carrier:
      <% out_carrier_id = @legs.find { |leg| leg["Id"] == itinerary["OutboundLegId"] }["Carriers"][0]%>
      <%= @carriers.find { |carrier| carrier["Id"] == out_carrier_id }["Name"]%>
    </li>
    <li>
      Inbound departure:
      <%= @legs.find { |leg| leg["Id"] == itinerary["InboundLegId"] }["Departure"] %>
    </li>
    <li>
      Inbound carrier:
      <% in_carrier_id = @legs.find { |leg| leg["Id"] == itinerary["InboundLegId"] }["Carriers"][0]%>
      <%= @carriers.find { |carrier| carrier["Id"] == in_carrier_id }["Name"]%>
    </li>
  </ul>
  <% itinerary["PricingOptions"].first(3).each do |price| %>
  <ul>
    <li>
      <%= price["Price"] %>
    </li>
    <li>
      <a href="<%= price["DeeplinkUrl"] %>" target="_blank">Buy Now</a>
    </li>
    <li>
      <%= @agents.find { |agent| agent["Id"] == price["Agents"][0] }["Name"] %>
    </li>
  </ul>
  <% end %>
</div>
<% end %>
<li>
  HKD
  <%= @deal.price %>
</li>
<li>
  <%= @deal.origin %>
</li>
<li>
  <%= @deal.destination %>
</li>
<li>
  <%= @deal.depart_date %>
</li>
<li>
  <%= @deal.return_date %>
</li>
<li>
  HKD
  <%= @deal.discount_abs %>
</li>
<li>
  <%= @deal.discount_perc %>%
</li>
<li>
  <%= @deal.id %>
</li>
