<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skanfare</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %>
  <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <%= javascript_pack_tag 'chart' %>
</head>

<body>
  <%= yield %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>
